@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General */
html {
    font-family: 'Montserrat';
    background-color: #e0e0e0;
}

.bold {
    font-weight: bold;
}

.row {
    margin: 0 !important;
}

/* car list (no cars) */

.nocar-wrapper {
    margin-top: 15em;
    padding: 3em 0;
    border: 0.5em dashed #9e9e9e;
}

.nocar-wrapper h3 {
    padding: 0.5em;
    margin-bottom: 2em;
}

/* Car add view */
form ul li.category {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    margin-right: 5px;
}

/*car detail statistics*/

.section-stats h1 {
    font-size: 3em;
    margin: 0.3em 0;
}

@media (max-width: 992px) {
    .section-stats h1 {
        font-size: 2em;
    }
}

/* car detail expenses */
.section-expenses button {
    padding: 0 2.5em;
    font-weight: bold;
    text-shadow: 0 3px 4px rgba(0, 0, 0, .25);
    background-color: #6fcf97;
}

.section-expenses .expense {
    font-size: 1em;
    border-radius: 0;
    margin: 0;
}

.section-expenses .expense .category {
    font-size: 0.8em;
}

.section-expenses li:nth-child(even) .expense {
    background-color: #f2f2f2;
}

.section-expenses .close-icon:hover {
    cursor:pointer;
}
