{% extends 'car_budget/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <form action="" method='POST'>
            {% csrf_token %}
            {{ form }}

            <button type="submit" class="btn">Add Car</button>
        </form>
    </div>

{% endblock %}
