{% extends 'car_budget/base.html' %}
{% block content %}

    <div class="container">
        <section class="section section-stats">
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="card-panel">
                        <h6 class="bold">Total Budget</h6>
                        <h1 class="bold">${{ car.budget }}</h1>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel">
                        <h6 class="bold">Budget Left</h6>
                        {% if car.budget_left > 0 %}
                            <h1 class="bold green-text">${{ car.budget_left }}</h1>
                        {% elif car.budget_left == 0 %}
                            <h1 class="bold orange-text">${{ car.budget_left }}</h1>
                        {% else %}
                            <h1 class="bold red-text">${{ car.budget_left }}</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card-panel">
                        <h6 class="bold">Total Transactions</h6>
                        <h1 class="bold">{{ car.total_transactions }}</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-expenses">
            <div class="row">
                <button class="btn waves-effect right modal-trigger" href="#expenseModal">
                    <i class="material-icons white-text left">add_circle</i>
                    Add Expense
                </button>
            </div>

            <ul class="z-depth-1">
                {% for expense in expense_list %}
                    <li>
                        <div class="card-panel z-depth-0 expense">
                            <div class="row">
                                <div class="col l6">
                                    <span class="title">{{ expense.title }}</span>
                                </div>
                                <div class="col l3">
                                    <span class="title">${{ expense.amount }}</span>
                                </div>
                                <div class="col 1">
                                    <span class="title bold">{{ expense.category }}</span>
                                </div>
                                <div class="col 1">
                                    <span class="title bold">{{ expense.mileage }} km</span>
                                </div>
                                <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                    <i class="material-icons red-text right">close</i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div id="expenseModal" class="modal">
        <div class="modal-content">
            <h4>Add Expense</h4>
            <form method="POST">
                {% csrf_token %}
                <label for="title">Title</label>
                <input name="title" id="title">
                <label for="amount">Amount</label>
                <input name="amount" id="amount">
                <label for="mileage">Mileage</label>
                <input name="mileage" id="mileage">
                <select name="category">
                    {% for category in category_list %}
                        <option>{{ category }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn">Add</button>
            </form>
        </div>
    </div>

    <script>
        let elem = document.querySelector('.modal');
        let instance = M.Modal.init(elem);

        elem = document.querySelector('select');
        instance = M.FormSelect.init(elem);

        function deleteExpense(e) {
            let id = e.dataset.id
            e.closest('li').remove()

            fetch('', {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'id': id
                }),
                credentials: 'same-origin',
            })
        }
    </script>

{% endblock %}
